{% extends 'homebase.html' %}
{% block title %} {{ new.title }} News {% endblock %}
{% block keywords %} {{ new.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}
{% block head %} <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}"> {% endblock %}
{% block newsslider %}{% include 'newsslider.html' %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}
    {% load static %}
   <section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="/category/{{ new.Category.id }}/{{ new.Category.slug }}">{{new.Category }}</a></li>
              <li class="active">{{ new.description }}</li>
            </ol>
            <h1>{{ new.title }}</h1>
            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>Wpfreeware</a> <span><i class="fa fa-calendar"></i>{{ new.update_at }}</span> <a href="#"><i class="fa fa-tags"></i>{{ new.Category }}</a> </div>
            <div class="single_page_content">
              <p>{{ new.detail | safe }}</p>
            </div>
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="col-md-12">
             <div class="left_content">
                 <h3><b>Yorumlar</b></h3>
             <hr>
                 {% for rs in comments %}
                     <p><b>{{ rs.user.first_name }}</b> &nbsp;&nbsp;&nbsp;{{ rs.create_at }}</p>
                     <p>{{ rs.comment }}</p>
                     <hr>
                 {% endfor %}
             </div>
            </div>
            <div class="col-md-12">
            <div class="contact_area">
              <h4>Write your Review</h4>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tag }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
                <p>Your email address will not be published.</p>
                <form class="" action="/news/addcomment/{{ new.id }}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="input" type="text" name="subject" id="id_subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="input-group" name="comment" id="id_comment" placeholder="Your review"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="input-rating">
                            <strong class="text-uppercase">Your Rating: </strong>
                            <div class="stars">
                                <input type="radio" id="star5" name="rate" value="5"/><label for="star5"></label>
                                <input type="radio" id="star4" name="rate" value="4"/><label for="star4"></label>
                                <input type="radio" id="star3" name="rate" value="3"/><label for="star3"></label>
                                <input type="radio" id="star2" name="rate" value="2"/><label for="star2"></label>
                                <input type="radio" id="star1" name="rate" value="1"/><label for="star1"></label>
                            </div>
                        </div>
                    </div>
                    {% if user.id is not None %}
                        <button class="btn-primary">Send Comment</button>
                    {% else %}
                        Yorum eklemek için login olunuz!
                    {% endif %}
                </form>
                </div>
            </div>
            <div class="related_post">
              <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
                  {% for rs in related %}
                <li>
                  <div class="media"> <a class="media-left" href="/new/{{ rs.id }}/{{ rs.slug }}"> <img src="{{ rs.image.url }}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="/new/{{ rs.id }}/{{ rs.slug }}"> {{ rs.title }}</a> </div>
                  </div>
                </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popüler Haberler</span></h2>
            <ul class="spost_nav">
                {% for rs in popularNews %}
              <li>
                <div class="media wow fadeInDown"> <a href="/new/{{ rs.id }}/{{ rs.slug }}" class="media-left"> <img alt="" src="{{ rs.image.url }}"> </a>
                  <div class="media-body"> <a href="/new/{{ rs.id }}/{{ rs.slug }}" class="catg_title"> {{ rs.title }}</a> </div>
                </div>
              </li>
                {% endfor %}
            </ul>
          </div>
            <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Kategori</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Yorumlar</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  {% load mptt_tags %}
                {% recursetree category %}
                  <li class="cat-item"><a href="/category/{{ node.id }}/{{ node.slug }}">{{node.title}}</a></li>
                {% endrecursetree %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg'%}"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg'%}"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg'%}"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg'%}"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg'%}" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Haber Arşivi</span></h2>
            <select class="catgArchive">
              <option>Kategori Seç</option>
              <option href="/category/25/Yasam">Yaşam</option>
              <option href="/category/15/Spor">Spor</option>
              <option href="/category/16/Teknoloji">Teknoloji</option>
                <option href="/category/18/Ekonomi">Ekonomi</option>
              <option href="/category/15/Magazin">Magazin</option>
              <option href="/category/21/Dunya">Dünya</option>
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Bağlantılar</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss</a></li>
              <li><a href="#">Künye</a></li>
              <li><a href="/login/">Üye Girişi</a></li>
                <li><a href="/signup/">Üye Ol</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock %}