{% extends 'homebase.html' %}
{% block title %} Reklamlar-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %} <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}"> {% endblock %}
{% block newsslider %}{% include 'newsslider.html' %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}
    {% load static %}
   <section id="contentSection">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="left_content">
          <div class="contact_area">
            <h2>Reklamlar</h2>
            <br>
              {% for rs in reklamlar %}
                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <img src="{{ rs.icon.url }}" height="100" width="100" alt="IMG">
                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    {{ rs.company }}
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}