{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<nav class="sidebar">
    <!-- close sidebar menu -->
    <div class="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>
    <ul class="list-unstyled menu-elements">
        <li class="active"><a class="scroll-link" href="/"> Anasayfa</a></li>
        <li><a class="scroll-link" href="/hakkimizda">Hakkımızda</a></li>
        <li><a class="scroll-link" href="/kunye"> Künye</a></li>
        <li><a class="scroll-link" href="/iletisim"> İletişim</a></li>
        <li><a class="scroll-link" href="/referanslar"> Reklamlar</a></li>
        <li><a class="scroll-link" href="/referanslar"> Reklam Ver</a></li>
        {% if user.id is not None %}
            <li><a href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="otherSections">{{ user.first_name }}</a>
                <ul class="collapse list-unstyled" id="otherSections">
                    <li><a class="scroll-link" href="/user/">Kullanıcı Paneli</a></li>
                     <li><a class="scroll-link" href="/user/mynews/">Haberlerim</a></li>
                    <li><a class="scroll-link" href="/user/comments/">Yorumlarım</a></li>
                    <li><a class="scroll-link" href="/user/addnews/">Haber Ekle</a></li>
                    <li><a class="scroll-link" href="/logout/">Çıkış</a></li>
                </ul>
            </li>
        {% else %}
            <li><a class="scroll-link" href="/login/"> Üye Girişi</a></li>
            <li><a class="scroll-link" href="/signup/"> Üye Ol</a></li>
        {% endif %}
    </ul>
</nav>

<script>
    $(function(){
        $("#query").autocomplete({
            source:"/search_auto/",
            select:function (event,ui) {
                AutoCompleteSelectHandler(event,ui)
            },
            minLength:2,
        });
    });
    function AutoCompleteSelectHandler(event,ui) {
        var selectedObj=ui.item;
    }
</script>

<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav main_nav">
                <li class="active"><a href="/"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
                <li><a class="btn-primary btn-customized open-menu" href="#" role="button"><span>Menu</span></a></li>
                {% load mptt_tags %}
                {% recursetree category %}
                    <li class="dropdown">
                        <a href="/category/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle" {% if not node.is_leaf_node %}
                           data-toggle="dropdown" role="button" aria-expanded="false" {% endif %} >{{ node.title }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/category/{{ children.id }}/{{ node.slug }}">{{ children }}</a></li>
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</li>
            </ul>
            <div class="size-a-2 bo-1-rad-22 of-hidden bocl11 m-t-4">
                <form action="/search/" method="post" class="size-a-2">
                    {% csrf_token %}
                    <input class="f1-s-1 cl6 plh9 s-full p-l-10" type="text" id="query" name="query" placeholder="Search">
                    <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
			</div>
        </div>
    </nav>
</section>