{% load static %}
<nav class="sidebar">
    <!-- close sidebar menu -->
    <div class="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>
    <ul class="list-unstyled menu-elements">
        <li class="active"><a class="scroll-link" href="/"> Anasayfa</a></li>
        <li><a class="scroll-link" href="/hakkimizda">Hakkımızda</a></li>
        <li><a class="scroll-link" href="/kunye"> Künye</a></li>
        <li><a class="scroll-link" href="/iletisim"> İletişim</a></li>
        <li><a class="scroll-link" href="/referanslar"> Reklamlar</a></li>
        <li><a class="scroll-link" href="/referanslar"> Reklam Ver</a></li>
        <li><a class="scroll-link" href="#section-6"> Üye Girişi</a></li>
        <li><a class="scroll-link" href="#section-6"> Üye Ol</a></li>
    </ul>
</nav>
<section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav main_nav">
                <li class="active"><a href="/"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
                <li><a class="btn-primary btn-customized open-menu" href="#" role="button"><span>Menu</span></a></li>
                {% load mptt_tags %}
                {% recursetree category %}
                    <li class="dropdown">
                        <a href="/category/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle" {% if not node.is_leaf_node %}
                           data-toggle="dropdown" role="button" aria-expanded="false" {% endif %} >{{ node.title }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/category/{{ children.id }}/{{ node.slug }}">{{ children }}</a></li>
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
            <div class="header_top_right">
                <p>
                    <script> var tarih = new Date();
                    document.write(tarih.toUTCString()); </script>
                </p>
            </div>
        </div>
    </nav>
</section>